@media screen and (orientation: portrait) {
    p {
        font-size: 22px;
    }

    .centered {
        width: 90%;
    }

    code {
        font-size: 16px !important;
    }

    .content-view-container {
        flex-direction: column;
    }

    .content-view-container .references {
        border: none;
    }
}